body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    /* background-image: url('/static/f.png'); */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
header {
    text-align: center;
    margin-bottom: 40px;
}
header h1 {
    font-size: 3rem;
    margin: 0;
}
header p {
    font-size: 1.2rem;
    margin-top: 10px;
}
.card {
    background: #ffffff;
    color: #2c3e50;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-align: center;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.card p {
    font-size: 1rem;
}
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
footer {
    margin-top: 40px;
    font-size: 0.9rem;
}