<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Data - CPLEX Solver</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <header>
        <h1>CPLEX Localization Problem Solver</h1>
        <p>Submit your generated problem data file to solve it using the CPLEX algorithm.</p>
    </header>

    <section class="cards-container upload-container">
        <div>
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            <br />
            {% endif %}
            <h3>Upload Problem Data</h3>
            <p>Submit your generated problem data file to solve it using the CPLEX algorithm.</p>
            <br />
            <form class="upload-form" action="/solve_cplex_algorithm" method="POST" enctype="multipart/form-data">
                <label for="file-upload" class="drop-area" id="dropArea">
                    <input type="file" id="file-upload" name="file" accept=".txt, .csv, .json" required>
                    <span>Drag & Drop your file here or <strong>Browse</strong></span>
                </label>
                <button type="submit" class="upload-btn">Upload & Solve</button>
            </form>
            <br />
        </div>
    </section>

    <footer>
        &copy; 2025 Localization Solver | Designed by 2SCL Team
    </footer>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const fileInput = document.getElementById("file-upload");
            const dropArea = document.getElementById("dropArea");

            fileInput.addEventListener("change", function () {
                if (fileInput.files.length > 0) {
                    dropArea.innerHTML = `<span>Selected File: <strong>${fileInput.files[0].name}</strong></span>`;
                }
            });

            dropArea.addEventListener("dragover", (event) => {
                event.preventDefault();
                dropArea.style.background = "#e3e3e3";
            });

            dropArea.addEventListener("dragleave", () => {
                dropArea.style.background = "";
            });

            dropArea.addEventListener("drop", (event) => {
                event.preventDefault();
                fileInput.files = event.dataTransfer.files;
                if (fileInput.files.length > 0) {
                    dropArea.innerHTML = `<span>Selected File: <strong>${fileInput.files[0].name}</strong></span>`;
                }
            });
        });

    </script>
</body>

</html>