<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localization Solver</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../static/index.css">
</head>
<body>

<header>
    <h1>Localization Problem Solver</h1>
    <p>Efficiently solving multi-level localization and allocation problems with advanced algorithms.</p>
</header>

<section class="cards-container">
    <div class="card" onclick="window.location.href='cplex_solver'">
        <h3>CPLEX Algorithm</h3>
        <p>Use our optimized CPLEX algorithm for precise and efficient problem-solving.</p>
    </div>

    <div class="card" onclick="window.location.href='genetic_solver'">
        <h3>Genetic Algorithm</h3>
        <p>Leverage the power of genetic algorithms for innovative problem-solving techniques.</p>
    </div>
</section>

<footer>
    &copy; 2025 Localization Solver | Designed by 2SCL Team
</footer>

</body>
</html>
